<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add Product</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/list.css">
    
    <script type="text/javascript" src="/javascript/formvalid.js">
    </script>
</head>

<body>
    <header class="main-header">
        <nav class="main-header__nav">
            <ul class="main-header__item-list">
                <li class="main-header__item"><a href="/display">Display</a></li>
                <li class="main-header__item"><a class="active" href="/admin/add-product">Add To Do</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <form class="product-form" action="/admin/add-product" method="POST">
            <div class="form-control">
                <label for="title">Name</label>
                <input type="text" name="name" id="name" onblur="validate()">
            </div>

            <div class="form-control">
                <label for="title">Id</label>
                <input type="number" name="id" id="id" onblur="validate1()">
            </div>

            <div>
                <label for="title">Status:</label>
                <input type="checkbox" name="completed" id="status">completed
                <input type="checkbox" name="not-completed" id="status">not-completed
            </div>


            <button type="submit">Add Product</button>
        </form>
    </main>
</body>

</html>